.icon {
  color: #8b949e;
  fill: currentColor;
}

.right-button-div {
  display: flex;
  align-items: stretch;
  gap: 8px;
}

.button-bar-and-files {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary {
  border-color: rgba(240, 246, 252, 0.1);
  border-width: 1px;
  border-style: solid;
  padding: 1rem;
  background-color: #21262d;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.file-list {
  border-color: rgba(240, 246, 252, 0.1);
  border-width: 1px;
  border-style: solid;
  border-top-style: none;
  padding: 1rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
