.icon-button {
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
}

.all-buttons {
  color: white;
  border-radius: 6px;
  padding: 5px 16px 5px 16px;
  border-color: rgba(240, 246, 252, 0.1);
  border-width: 1px;
  border-style: solid;
}

.all-buttons:hover {
  transition-duration: 0.5s;
  border-color: #8b949e;
}

.normal-button {
  background-color: #21262d;
}
.normal-button:hover {
  background-color: #30363d;
}

.green-button {
  background-color: #238636;
}
.green-button:hover {
  background-color: #2ea043;
}
